* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#header {
    background-color: #2c445c;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 1%;
    border-bottom: 1px solid #37536e;
    filter: drop-shadow(0 5px 10px #263d53);
    z-index: 10;
  }
  
  #header h1 {
    margin-left: 0%;
    color: rgb(211, 211, 211);
    width: 390px;
  }
  
  #buscando {
    height: 35px;
    width: 450px;
    margin-top: 6px;
    border-radius: 4px;
    background-color: #e4e4e4;
    margin-top: 6px;
  }
  
  .buscar {
    height: 35px;
    width: 400px;
    margin-left: 4px;
    border-radius: 4px;
    background-color: #e4e4e4;
    outline: none;
    border: 0;
    float: left;
  }
  
  #bBuscar {
    height: 35px;
    width: 46px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background-color: #e4e4e4;
    outline: none;
  }

  li {
    list-style: none;
    padding: 0px 10px;
    font-size: x-large;
    float: left;
    width: auto;
    height: 70px;
  }

  .nav-Links {
    text-decoration: none;
    color: rgb(211, 211, 211);
  }
  
  #compu button {
    border-radius: 30px;
    width: 165px;
    height: 40px;
    border: 0;
    font-size: x-large;
    background-color: rgb(211, 211, 211);
    outline: none;
    cursor: pointer;
  }

  #compu {
    margin-top: 5px;
  }

  #compu h3 {
    color: rgb(211, 211, 211);
    font-size: x-large;
    outline: none;
    cursor: pointer;
  }

  #movil {
    display: none;
  }

  #userMovil {
    display: none;
  }

  .nav-Links-Movil-vender, .nav-Links-Movil-Carro {
    display: none;
  }

  @media (max-width: 1295px) {
    #header h1 {
      width: auto;
    }
  }

  @media (max-width: 1165px) {
    #header {
      justify-content: center;
      height: 100px;
    }
    #header h1 {
      margin-top: -10px;
    }

    #userMovil {
      display: block;
      position: absolute;
      left: 25px;
      cursor: pointer;
    }

    #compu {
      display: none;
    }

    #bBuscar {
      width: 80%;
      display: none;
      color: rgb(146, 146, 146);
    }

    .nav-Links-Movil-vender {
      display: block;
      position: absolute;
      right: 90px;
      top: 3px;
    }

    .nav-Links-Movil-Carro {
      display: block;
      position: absolute;
      right: 30px;
      top: 3px;
    }

    #buscando {
      width: auto;
      position: absolute;
      bottom: 15px;
    }
  }